<div ng-controller="Support as S">
    <div ng-include="'common/navBar.html'"></div>
    <ol class="breadcrumb">
        <li><a href="#Fines"><i class="fa fa-home"></i></a>
        </li>
        <li class="active">Support</li>
    </ol>
    <div class="col-sm-6 center">

        <div class="panel panel-primary" ng-controller="Support as SC">
            <div class="panel-body">
                <h3 align="center"><b>Support Tickets</b></h3>
                <h4><b>My Support Tickets</b></h4>
                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-bordered table-hover table-condensed ">
                            <thead>
                                <tr>
                                    <td>Date Created</td>
                                    <td>Type</td>
                                    <td>Subject</td>
                                    <td>Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ticket in S.tickets">
                                    <td>{{ticket.CreatedDate | date}}</td>
                                    <td>{{ticket.TypeDescription}}</td>
                                    <td>{{ticket.Subject}}</td>
                                    <td>{{ticket.StatusDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary">Create New Ticket</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>