<div class="" ng-controller="Fines as fc">
    <div ng-include="'common/navBar.html'"></div>
    <ol class="breadcrumb">
        <li><a href="#Fines"><i class="fa fa-home"></i></a>
        </li>
        <li class="active">News Feed</li>
    </ol>
    <!--<div ng-include="'common/common-imports.html'"></div>-->
    <link rel="stylesheet" href="/content/feed.css">
    <div class="col-sm-6 center">
        <center>
            <div class="fine-buttons">
                <div class="fine-button" id="icon-gift" ng-bootbox-title="Award Fine" ng-bootbox-custom-dialog="Award a fine" ng-bootbox-custom-dialog-template="app/fines/views/modals/awardFine.tpl.html"
                                                        ng-bootbox-options="vm.dialogOptions">
                    <div class="glyphicon glyphicon-gift fine-button-icon"></div>
                    <div class="fine-button-title">Award Fine</div>
                </div>
                <div class="fine-button" id="icon-glass" ng-bootbox-title="Pay fines" ng-bootbox-custom-dialog="Pay fines" ng-bootbox-custom-dialog-template="app/fines/views/modals/payFine.tpl.html">
                    <div class="glyphicon glyphicon-glass fine-button-icon"></div>
                    <div class="fine-button-title">Pay Fine</div>
                </div>
            </div>
        </center>

        <div class="panel panel-primary">
            <!-- New Fines -->

            <div ng-repeat="fine in fines | orderBy:'AwardedDate':true | limitTo: 10">
                
                <div ng-if="fine.IsPaid == false" class="row">
                    <div class="col-md-5 profile">
                        <div class="profile-details">
                            <span id="profile-picture">
                                <img class="profile-picture" src="{{fine.UserImage}}"/>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7 fine">
                        <div class ="fine-details">
                            <div class="feed-title">
                                <a id="user-statistics-link"
                                    ng-bootbox-title="User Statistics"
                                    ng-bootbox-custom-dialog="User Statistics"
                                    ng-bootbox-custom-dialog-template="app/fines/views/modals/userStatistics.tpl.html"
                                    id="user-name"> 
                                {{fine.ReceiverDisplayName}} </a> has received a fine
                            </div>
                            <p class="feed-data" id="reason">for {{fine.Reason}}</p>
                            <div class="other">
                                <span id="platform">via {{fine.Platform || 'Web front end'}} </span>
                                <span id="award">from <a id="awarder">{{fine.IssuerDisplayName}}</a></span>
                            </div>
                            <hr/>
                            <span><div id="second" class="glyphicon glyphicon-ok"/></span>
                        </div>
                    </div>
                </div> 
                
               <!-- Payments --> 
                
                
                <div ng-if="fine.IsPaid == true" class="row">
                    <div class="col-md-5 profile">
                        <div class="profile-details">
                            <span id="profile-picture">
                                <img class="profile-picture" src="{{fine.UserImage}}"/>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7 fine">
                        <div class ="fine-details">
                            <div class="feed-title">
                                <a id="user-name">
                                    {{fine.ReceiverDisplayName}}
                                </a> 
                                has paid <span id="total-fines">1</span> fine
                            </div>
                            <img class="photo" src="{{fine.UserImage}}"/>
                            <!--<div><img id="photo" src="data:{{fine.PaymentImage.MimeType}};base64,{{fine.PaymentImage.ImageBytes}}"/></div>-->
                            <hr/>

                            <div class="payment-action"><div id="like" class="glyphicon glyphicon-thumbs-up"/></div>
                            <div class="payment-action"><div id="dislike" class="glyphicon glyphicon-thumbs-down"/></div>
                        </div>

                    </div>
                </div> 

                
            </div>
            
            <!--<div class="fine-feed" ng-include="'app/fines/views/newFineFeed.html'"></div>
            <div class="fine-feed" ng-include="'app/fines/views/paidFineFeed.html'"></div>
            <div class="fine-feed" ng-include="'app/fines/views/newFineFeed.html'"></div>-->
        </div>

    </div>
</div>