<div class="container fine-container">
    <div class="row">
        <div class="col-md-5 profile">
            <div class="profile-details">
                <span id="profile-picture">
                    <img class="profile-picture" src="http://www.free-avatars.com/data/media/37/cat_avatar_0597.jpg"/>
                </span>
            </div>
        </div>
        <div class="col-md-7 fine">
            <div class ="fine-details">
                <div class="feed-title">
                    <a id="user-name">
                        The Cat
                    </a> 
                    has paid <span id="total-fines">2</span> fines
                </div>
                <div><img id="photo" src="https://c2.staticflickr.com/4/3170/3071017202_850134f879.jpg"/></div>
                <hr/>
                
                <div class="payment-action"><div id="like" class="glyphicon glyphicon-thumbs-up"/></div>
                <div class="payment-action"><div id="dislike" class="glyphicon glyphicon-thumbs-down"/></div>
            </div>
            
        </div>
    </div>
</div>