<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TrelloKey" value="f179fdf3799a9e5b7239b88963268f98" />
    <add key="TrelloToken" value="0bc833ffc2b77959f6707d1e6ef56724f76ef748f150836d0d4654feb62c270c" />
    <add key="TrelloBoard" value="55b244f75471c89c417c616f" />
  </appSettings>
</configuration>