<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotKey" value="xoxb-7976443509-r9VfvoJ6bW0G6VS08IJtaDb3" />
    <add key="SeconderBotKey" value="xoxb-8403772291-GFgUppJZCMna9OMNN59HVEgY" />
    <add key="SlackApiKey" value="xoxp-7975991238-7976041698-8150442230-c6c426" />
    <add key="PersistData" value="false" />
    <add key="MongoDatabase" value="fines" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>