<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SeconderBotKey" value="xoxb-8403772291-hvzmBgzVXl4aDj5tvLN3BZPZ" />
    <add key="BotKey" value="xoxb-22391442391-pOXMDY49r8tKmYRbo5P8974K" />
    <add key="SlackApiKey" value="xoxb-22391442391-pOXMDY49r8tKmYRbo5P8974K" />
    <add key="ShameBellLocation" value="http://www.myinstants.com/media/sounds/shame-1.mp3" />
    <add key="PersistData" value="true" />
    <add key="MongoDatabase" value="fines" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>