<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div ng-controller="Login as scope">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <div align="center">
                                <img alt="Brand" class="img-responsive" src="/content/entel.png">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4" align="center">
                                            <img src="/content/Badcop.jpg">
                                        </div>
                                        <div class="col-sm-4">
                                            <h2 align="center"><b>Entelect Fines Portal</b></h3>
                                                <br>
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control"
                                                                           ng-model="scope.username"
                                                                           id="inputEmail3"
                                                                           placeholder="Entelect Domain Username"
                                                                           required="">

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputPassword3"
                                                                       class="col-sm-3 control-label">Password</label>
                                                                <div class="col-sm-9">
                                                                    <input type="password" class="form-control"
                                                                           id="inputPassword3"
                                                                           ng-model="scope.password"
                                                                           placeholder="Entelect Domain Password"
                                                                           required="">
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-sm-12" align="center">
                                                                    <button ng-click="scope.login()"
                                                                            class="btn btn-primary "><i
                                                                            class="fa fa-sign-in"></i> Sign in
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <br>
                                                <p style="text-align: center;">
                                                    When logging in, please don't include the @entelect.co.za part of
                                                    your email address.</p>
                                                <p style="text-align: center;">
                                                    If your domain password has expired or if you have forgotten it,
                                                    please contact <a
                                                        href="mailto:warren.bonn@entelect.co.za?subject=Domain%20Password%20Reset&amp;body=Hi%20Warren%0A%0AMy%20domain%20password%20has%20expired%2C%20please%20can%20you%20reset%20it%3F%0A%0AKind%20regards%2C%0A%3CName%3E">Warren
                                                    Bonn</a>
                                                </p>
                                        </div>
                                        <div class="col-sm-4 " align="center">
                                            <img src="/content/9489_stormtrooper.png" class="img-responsive">
                                            <p style="color:white"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
